@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    @apply mt-0 block w-full border-0 border-b-2 border-gray-300 px-0.5 text-gray-500 focus:border-gray-800 focus:ring-0 disabled:bg-gray-100;
  }
  textarea {
    @apply border;
  }
  [type='checkbox'],
  [type='radio'] {
    @apply rounded border-gray-300 text-gray-700 focus:ring-gray-800;
  }

  [data-style='primary'] {
    @apply inline-flex select-none justify-center rounded-md border border-transparent bg-gray-800 px-4 py-2 font-medium text-white shadow-sm hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-gray-800 focus:ring-offset-2 disabled:cursor-not-allowed disabled:bg-gray-200 disabled:text-zinc-500;
  }
  [data-style='secondary'] {
    @apply inline-flex select-none justify-center rounded-md border border-indigo-700 bg-indigo-600 px-4 py-2 font-medium text-white shadow-sm hover:bg-indigo-800 focus:outline-none focus:ring-2 focus:ring-indigo-700 focus:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 disabled:blur-xs;
  }
  [data-style='alternate'] {
    @apply inline-flex select-none justify-center rounded-md border border-gray-300 bg-gray-50 px-4 py-2 font-medium text-gray-900 shadow-sm hover:border-slate-400 hover:bg-slate-200 focus:outline-none focus:ring-2 focus:ring-slate-500 focus:ring-offset-2 disabled:cursor-not-allowed disabled:bg-gray-400 disabled:opacity-50;
  }
  [data-style='tool'] {
    @apply flex h-10 w-10 select-none items-center justify-center rounded-full border border-amber-700 bg-amber-500 font-medium text-amber-900 shadow-sm hover:bg-amber-800 focus:outline-none focus:ring-2 focus:ring-amber-700 focus:ring-offset-2 disabled:cursor-not-allowed disabled:bg-gray-700 disabled:opacity-50;
  }
  [data-style='link'] {
    @apply font-bold italic tracking-normal text-blue-800 hover:text-blue-400;
  }
  :root {
    --toastify-color-dark: theme('colors.gray.800') !important;
  }
  .Toastify__toast-container--top-right {
    top: 4em;
  }
  @font-face {
    font-family: 'SourceSansPro-Regular';
    src: url('/fonts/SourceSans3-Regular.otf.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
}
