**/.env
**/.env.*
**/.gitignore
.vs
.vscode
docker-compose.yml
docker-compose.*.yml
**/.git
**/.github
**/scripts
**/bin
**/obj
**/node_modules
**/dist
**/spa.proxy.json
**/appsettings.Development.json
**/omnisharp.json
**/.editorconfig
**/.DS_Store
Readme.md
cloud_sql_proxy
